In [ ]:
인사 = """안녕하

세요!"""
print(인사)
print(file="./hi.txt")

## [백준2557] Hello World

In [ ]:
print("Hello World!")

## 연수

In [ ]:
len("영일이삼사오육칠팔구")

In [ ]:
print("영일이삼사오육칠팔구"[2])

In [ ]:
print("구팔칠육오사삼이일"[-1])

In [ ]:
print("0123456789"[-1:-4:-1])

In [ ]:
iii=input()
print(iii)

In [ ]:
age = input(" # Your age is :")

In [ ]:
float(eval(str(int(age)) + str(-10)))

In [ ]:
print("a+b의 값을 출력합니다.")
a = input("a: ")
b = input("b: ")
print("a  ="+a+"\n  b="+b+"\na+b="+str(int(a)+int(b)))

## [백준1000] A+B

In [ ]:
eq=input()
a=int(eq[0])
b=int(eq[-1])
print(a+b)

In [ ]:
a, b = input().split(" ")
a = int(a)
b = int(b)
print(a+b)

## [백준1001] A-B

In [ ]:
A, B = input().split(" ")
A = int(A)
B = int(B)
print(A - B)

In [ ]:
eq = input()
a = int(eq[0])
b = int(eq[-1])
print(a - b)

In [ ]:
eq = input()
a = int(eq[0])
b = int(eq[-1])
print(a * b)

In [ ]:
eq = input()
a = int(eq[0])
b = int(eq[-1])
ans = a/b
print(ans)

In [ ]:
nums = input()
a = int(nums.split(" ")[0])
b = int(nums.split(" ")[1])
print(a+b)
print(a-b)
print(a*b)
print(a//b)
print(a%b)

In [ ]:
name = input()
print(name,"??!", sep="")

In [ ]:
불기 = int(input())
서기 = 불기 - 2541 + 1998
print(서기)

In [ ]:
nums = input()
a = int(nums.split(" ")[0])
b = int(nums.split(" ")[1])
c = int(nums.split(" ")[2])
print((a+b)%c)
print(((a%c)+(b%c))%c)
print((a*b)%c)
print(((a%c)*(b%c))%c)

In [ ]:
num1 = input()
num2 = input()
ans3 = int(num1) * int(num2[-1])
ans4 = int(num1) * int(num2[-2])
ans5 = int(num1) * int(num2[-3])
ans6 = int(num1) * int(num2)
print(ans3)
print(ans4)
print(ans5)
print(ans6)

In [ ]:
nums = input()
a = int(nums.split(" ")[0])
b = int(nums.split(" ")[1])
c = int(nums.split(" ")[2])
ans = a+b+c
print(ans)

In [ ]:
cat = """\\    /\\
 )  ( ')
(  /  )
 \\(__)|"""
print(cat)

In [ ]:
cat = r"""\    /\
 )  ( ')
(  /  )
 \(__)|"""
print(cat)

In [ ]:
dog = '''|\\_/|
|q p|   /}
( 0 )"""\\
|"^"`    |
||_/=\\\\__|'''
print(dog)

In [ ]:
"000 111 222 333 444 555 666 777 888 999".split()[:7:3]

In [ ]:
nums = input()
a = int(nums.split(" ")[0])
b = int(nums.split(" ")[1])
if a < b :
    print("<")
elif a > b :
    print(">")
elif a == b :
    print("==")

In [ ]:
score = int(input())
if score >= 90:
    print("A")
elif score >= 80:
    print("B")
elif score >= 70:
    print("C")
elif score >= 60:
    print("D")
else:
    print("F")

In [ ]:
year = int(input())
if (year % 4 == 0) and ((year % 100 != 0) or (year % 400 == 0)):
    print(1)
else:
    print(0)

In [ ]:
x = int(input())
y = int(input())
if y > 0 :
    if x > 0 :
        print(1)
    else:
        print(2)
else:
    if x < 0 :
        print(3)
    else:
        print(4)

In [ ]:
time = input()
H = int(time.split(" ")[0])
M = int(time.split(" ")[1])
HM = int(H * 60 + M)
alarm_HM = int(HM - 45)
if alarm_HM < 0 :
    alarm_HM = int(alarm_HM + (24 * 60))
alarm_H = str(alarm_HM // 60)
alarm_M = str(alarm_HM % 60)
print(alarm_H, alarm_M)

In [ ]:
l = [ 1, 2, 3, 4, 5 ]

for i in l:
    print(i, end="❤️", file=open("a.txt", "a"))

In [ ]:
print(list())
print(range(1,46))
print(list(range(1,46)))

In [ ]:
ans = 0
for i in range(1, 11):
    ans = ans + i
print(ans)

In [ ]:
ans = 0
for i in range(2, 11, 2):
    ans = ans + i
print(ans)

In [ ]:
i = 10
while True :
    print(i)
    i = i - 1
    if i < 1 :
        break

In [ ]:
l = "안녕핫세요"
print(l)
print(l[2])
l[2] = "하"
print(l)

In [ ]:
data = 10, 20
print(data)

In [ ]:
data = 100, 
print(data)
print(data[0])
print(data[-1])

In [ ]:
cars = ["기아", "현대", "bmw", "audi", "toyota"]
for car in cars :
    if car == "bmw" :
        print(car.upper())
    else:
        print(car.title())

In [ ]:
print(1==2)

In [ ]:
우리반학생 = ["김범수", "나얼", "박효신"]
print(not ("김범" in 우리반학생))
print("김범" not in 우리반학생)

In [ ]:
print(True == True)
print(1 == True)
print(0 == True)
print(() == True)
print([] == True)
print("" == True)

In [ ]:
점수들 = [79,23,67,80,90,20]
for 점수 in 점수들:
    if 점수 >= 90:
        print("상")
    elif 점수 >= 80:
        print("중")
    else:
        print("하")

In [ ]:
나 = {
    "이름" : "박성준",
    "학교" : "월곡초",
    "나이" : 40,
    "취미" : ["코딩", "유튜브", "게임"]
}
for i in 나:
    print((i, 나[i]))

In [ ]:
나 = {
    "이름" : "박성준",
    "학교" : "월곡초",
    "나이" : 40,
    "취미" : ["코딩", "유튜브", "게임"]
}
for k, v in 나.items():
    print(f"키는 {k}이고, 값은 {v}입니다.")
print(나.items())

In [ ]:
%pip install requests

In [ ]:
import requests

In [ ]:
r = requests.get("https://edu.cbe.go.kr")

In [ ]:
r.status_code

In [ ]:
print(r.text, file=open("a.html", "w"))

In [ ]:
url = "https://open.neis.go.kr/hub/schoolInfo"
params = {
    "ATPT_OFCDC_SC_CODE": "M10",
    "SCHUL_NM": "청주고",
    "Type": "json"
}
res = requests.get(url, params=params).json()
print(res["schoolInfo"][1]["row"][0]["ORG_TELNO"])

In [ ]:
from pyparsing import Regex


url = "https://open.neis.go.kr/hub/mealServiceDietInfo"
params = {
    "Type": "json",
    "ATPT_OFCDC_SC_CODE": "M10",
    "SD_SCHUL_CODE": "8000066",
    "MLSV_YMD": "20231222"
}
res = requests.get(url, params).json()
meal_raw = res["mealServiceDietInfo"][1]["row"][0]["DDISH_NM"]
meal = meal_raw.replace("<br/>", "\n")
print(meal)

In [ ]:
%pip install openpyxl

In [72]:
import openpyxl

In [73]:
wb = openpyxl.Workbook()

In [74]:
sh = wb.create_sheet("파이썬시트")

In [75]:
wb.save("test.xlsx")

In [79]:
mysh = wb.get_sheet_by_name("파이썬시트")

/tmp/ipykernel_32029/1073341763.py:1: DeprecationWarning: Call to deprecated function get_sheet_by_name (Use wb[sheetname]).
  mysh = wb.get_sheet_by_name("파이썬시트")

In [80]:
mysh["A1"] = "언어"
mysh["B1"] = "친밀도"
mysh["A2"] = "파이썬"
mysh["B2"] = "매우 친함"

In [82]:
wb.save("test.xlsx")

In [84]:
mysh["B1"].value

'친밀도'

In [86]:
mysh.cell(row=1, column=1).value

'언어'

In [87]:
for i in range(1, 11):
    mysh.cell(1, i).value = i
for i in range(1, 11):
    print(mysh.cell(1, i).value)

1
2
3
4
5
6
7
8
9
10

In [88]:
wb = openpyxl.load_workbook("test.xlsx")

In [90]:
sh = wb.get_sheet_by_name("Sheet1")

/tmp/ipykernel_32029/2761901803.py:1: DeprecationWarning: Call to deprecated function get_sheet_by_name (Use wb[sheetname]).
  sh = wb.get_sheet_by_name("Sheet1")

In [92]:
sh["A1"].value

'이름'

In [95]:
print(sh.rows)

<generator object Worksheet._cells_by_row at 0x7f1d87038ba0>

In [115]:
이름들 = []
점수들 = []
상중하들 = []
for r in sh.rows:
    if (r[1].value) == '성적':
        pass
    이름 = r[0].value
    점수 = int(r[1].value)
    이름들.append(이름)
    점수들.append(점수)
    if 점수 >= 90:
        상중하 = "상"
        상중하들.append[상중하]
    elif 점수 >= 80:
        상중하 = "중"
        상중하들.append[상중하]
    else:
        상중하 = "하"
        상중하들.append[상중하]
이름들 = tuple(이름들[1:])
점수들 = tuple(점수들[1:])
상중하들 = tuple(상중하들[1:])

print(이름들, 점수들, 상중하들, sep="\n")

ValueError: invalid literal for int() with base 10: '성적'